<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">One stop solution for all your office or event space requirements</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Flexible Desks</h4>
                    <p class="text-muted">Acquire flexible desk space on daily, weekly, monthly or yearly basis customized based on your requirement</p>
                </div>
				<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fix Desks</h4>
                    <p class="text-muted">Acquire fix desk space on daily, weekly, monthly or yearly basis customized based on your requirement</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Private Spaces</h4>
                    <p class="text-muted">Acquire private space on daily, weekly, monthly or yearly basis customized based on your requirement</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Events</h4>
                    <p class="text-muted">Acquire our space to conduct workshops, seminars, trainings etc.</p>
                </div>
            </div>
        </div>
    </section>